@page
@using OAuth.OpenIddict.AuthorizationServer;
@model OAuth.OpenIddict.AuthorizationServer.Pages.Consent

@*Please do not forget to add tag helper*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

Consent
Redirect url: @Model.ReturnUrl

<form method="post">
    <input type="submit" name="grant" value="@Consts.GrantAccessValue">
    <input type="submit" name="grant" value="@Consts.DenyAccessValue" />
</form>